html {
    height: 100%;
}

body {
	margin-top: 50px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
	background: url('../images/Sample_sky.jpg') no-repeat #97d6e7;
	background-size: cover;
/*    height: 100%;*/
}
.DQTLogoSize {
	width: 80%;
    height: auto;
}

#scratcher-box-panel {
    background: #666; 
	border-radius: 20px;
    border: 5px solid white;
    padding: 22px; 
    background: url(../images/GreyBalls2.png);   
    padding-bottom: 10px;
}

.section-area {
    text-align: center;
    margin: 12px 0px;
}


.container {
    max-width: 47rem;
    margin : auto !important;
    width: 100%;
}

#scratcher-box-panel .container {
    padding-left: 0;
    padding-right: 0px;
}

#scratcher-box-panel .container .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
    width: 25%;
    float: left;
}

.card-box {
	clear: both;
	color: #fff;
    text-align: center;
	background:#0000FF;
	border-radius:8px;	
	border: 2px solid white;	
	font-size: 24px;	
	margin: 100px 20px 0px 10px;
  }



/*MOBILE*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #scratcher-box-panel {
        padding: 5px;
    }

    #scratcher-box-panel .container {
        padding-left: 0;
        padding-right: 0;
    }

    .container {
        max-width: 93%;
    }
    
    #scratcher-box-panel .container {
        padding-left: 0;
        padding-right: 0px;
    }

}


/*TABLET*/
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


}

